@import url('https://fonts.googleapis.com/css?family=Roboto:100');
html{

}
*{
  border-radius: 0px !important;
}
body{
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  background-color: #343135;
  color: whitesmoke;

}
.thumbnail{
}

.center{
  text-align: center;
  font-size: 1.6rem;
}

.para{
  font-size: 1.6rem;
}
#login{
margin-top: 17%;
font-size: 1rem;
}
.smfont{
    font-size: 1.6rem;
}
